<div class="container">
  <h1 class="text-center p-2">Welcome {{username}}!</h1>
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10 m-auto">
      <div class="card bg-dark text-white">
        <img class="card-img-top" src="/assets/images/party.jpg" alt="">
        <div class="card-body">
          <p class="card-text">It's time to party!</p>
        </div>
      </div>
    </div>
  </div>
</div>